extends ../layout

block content
	h1 Join DoLoCo
	strong You have been invited to join a donation community: #{community.description}
	form.form-horizontal(action='/community/createCommunityUser', method='POST')
		input(type='hidden', name='_csrf', value=_csrf)
		input(type='hidden', name='communityId', value='#{community._id}')
		if !user
			.form-group
				label.col-sm-3.control-label(for='email') Email
				.col-sm-7
					input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus)
			.form-group
				label.col-sm-3.control-label(for='password') Password
				.col-sm-7
					input.form-control(type='password', name='password', id='password', placeholder='Password')
			.form-group
				label.col-sm-3.control-label(for='confirmPassword') Confirm Password
				.col-sm-7
					input.form-control(type='password', name='confirmPassword', id='confirmPassword', placeholder='Confirm Password')
			.form-group
				.col-sm-offset-3.col-sm-7
					button.btn.btn-success(type='submit')
						i.fa.fa-check
						| Join
		else
			.col-sm-offset-3.col-sm-7
					button.btn.btn-success(type='submit')
						i.fa.fa-check
						| Join