extends layout

block content
    if user
        if user.profile.picture
            img.profile-image(src='#{user.profile.picture}')
        else
            img.profile-image(src='#{user.gravatar(60)}')
        h2 #{user.profile.name || user.email || user.id}
        div.badge.badge-succcess #{user.profile.score}
    else
        div.jumbotron
            h1 Welcome to DoLoCo
            p.lead Your Local Community Donation Platform
            p
                a.btn.btn-lg.btn-success(href="/signup",role="button") Sign up today